:host {
    #content {
        display        : flex;
        align-items    : center;
        justify-content: center;
        min-height     : 25vh;
        min-width      : 15vw;
        z-index        : 99999;
    }

    .title {
        min-width: 15vw;
    }

    .selected {
        background-color: #0dcaf0;
    }
}