<!-- Modal content -->
<div class="modal-content">
    <div class="modal-header">
        <fa-icon (click)="close(false)" icon="times" size="2x" [styles]="{ stroke: 'gray', color: 'black' }">
        </fa-icon>
        <h4 style="margin-left:1em;">{{context.data?.header}}</h4>
    </div>
    <ng-scrollbar id="scrollbar" [track]="'vertical'" [visibility]="'always'">
        <div class="modal-body">
            <ng-container *cdkPortalOutlet></ng-container>
        </div>
    </ng-scrollbar>
</div>