:host {
    .item {
        margin   : 1em;
        min-width: 500px;
        display  : block;
    }

    #content {
        display        : flex;
        align-items    : center;
        justify-content: center;
        min-height     : 75vh;
        min-width      : 550px;

        div {
            display: inline;
        }
    }
}