:host {
    max-width: 80vw;

    .delete-icon {
        margin-right: 0.5em;
    }

    .item {
        margin   : 1em;
        min-width: 30vw;
        display  : block;
    }

    .content {
        display        : flex;
        align-items    : center;
        justify-content: center;
        min-height     : 60vh;
        min-width      : 45vw;

        .codesContainerInfo {
            display: inline;
        }
    }
}