<ng-scrollbar #scrollable id="content" [track]="'all'">
    <label>Selectati un colet cu probleme</label>

    <ng-container *ngTemplateOutlet="treeView; context:{ data: rootCodes, distance: 0} ">
    </ng-container>

    <textarea maxlength="500" class="item" placeholder="Description" type="textarea"
        [(ngModel)]="item.description"></textarea>
    <input id="file" multiple type="file" class="form-control" (change)="onFileChange($event)">
    <div *ngIf="item?.images?.length">
        <div *ngFor="let imageSrc of item.images; index as i">
            <img [src]="imageSrc.data" style="max-height: 250px; max-width:250px" />
            <fa-icon (click)="delete(i)" icon="times" [styles]="{ stroke: 'black', color: 'black' }" size="2x">
            </fa-icon>
        </div>
    </div>
</ng-scrollbar>

<ng-template #treeView let-data="data" let-distance="distance">
    <app-dropdown *ngIf="data" class="item" [items]="data"
        [title]="codeStack[distance]?.expanded ? codeStack[distance].codeDisplay : 'Selectati itemul'"
        [mapToDisplay]="mapToDisplay" (itemClicked)="selectItem($event, distance)">
    </app-dropdown>
    <div *ngIf="codeStack[distance]?.expanded">
        <ng-container *ngTemplateOutlet="treeView;context:{data: codeStack[distance].children, distance: distance + 1}">
        </ng-container>
    </div>
</ng-template>