:host {
    fa-icon {
        margin-right: 0.5em;
    }

    .item {
        margin   : 0.2em;
        min-width: 30vw;
        display  : block;
    }

    .area {
        min-height: 30vh;
    }

    .content {
        padding       : 1em;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        min-height    : 60vh;
        min-width     : 45vw;

        .codesContainerInfo {
            display: inline;
        }

        .sticky-bottom {
            position  : sticky;
            bottom    : 1rem;
            align-self: center;
            transform : translate(-50%, -50%);
            left      : 50%;
            z-index   : 1000;
        }

        .sticky-top {
            background-color: var(--bs-body-bg);
            position        : sticky;
            margin-bottom   : 15px;
            padding-bottom  : 1em;
            top             : 0%;
            z-index         : 1000;
        }
    }
}