@import '/variables.less';

:host {
    nav {
        background : @header-background;
        padding    : 0.75em;
        display    : flex;
        align-items: center;
        height     : 56px;

        img {
            cursor: pointer;
        }

        fa-icon {
            margin-right: 1.5em;
        }

        cart-summary {
            margin-right: 1.5em;
            cursor      : pointer;
        }
    }
}