<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" routerLink="/">
        <img style="height:56px;" src="\assets\art-kubika-logo.png" routerLink='/' />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" *ngIf="isAdmin || isPartner" routerLink="/partner">Reclamatii<span
                    class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" *ngIf="isAdmin" routerLink="/admin/managecodes">Manage codes<span
                    class="sr-only">(current)</span></a>
        </div>
    </div>
    <div class="navbar-nav navbar-right navbarNavAltMarkup">
        <!-- <cart-summary class="nav-item" (click)="cartClick()">
        </cart-summary> -->

        <app-user-profile class="nav-item" *ngIf='(loggedIn | async)?.loggedIn!'></app-user-profile>
        <fa-icon class="nav-item" icon="sign-in-alt" *ngIf='!(loggedIn | async)?.loggedIn!'
            [styles]="{ stroke: 'black', color: 'black' }" size="2x" routerLink='/login'>
        </fa-icon>
        <fa-icon *ngIf="isAdmin" class="nav-item" icon="user-cog" [styles]="{ stroke: 'black', color: 'black' }"
            size="2x" routerLink='/admin'>
        </fa-icon>
    </div>
</nav>