:host {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#header {
    max-height: 15vh;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    border-radius: 15px;
    min-height: 80vh;
    min-width: 30vw;
}

#footer {
    width: 50%;
    margin:0 auto;
}
