<table class="table table-striped table-hover" style="width: 100v;">
    <thead>
        <tr>
            <th scope="col" style="width: 10%;"># Reclamatii</th>
            <th scope="col" style="width: 70%;">
                <ngb-pagination [maxSize]="'10'" [(page)]="page" [pageSize]="paging.pageSize"
                    [collectionSize]="paging.collectionSize" [rotate]="true">
                </ngb-pagination>
            </th>
            <th (click)="addComplaint()" style="width: 15%;cursor: pointer;">Adauga o reclamatie
                <fa-icon class="nav-item" icon="plus-square" [styles]="{ stroke: 'black', color: 'black' }" size="2x">
                </fa-icon>
            </th>
            <th>
                DataKey
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of complaints; index as i">
            <td style="width: 10%;" scope="row">{{i + 1}}</td>
            <td style="width: 70%;">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15%;"># Componente</th>
                            <th scope="col" style="width: 25%;">Name</th>
                            <th scope="col" style="width: 55%;">Description</th>
                            <th scope="col" (click)="addTicket(item)" style="width: 15%;cursor: pointer;">Adauga
                                <fa-icon class="nav-item" icon="plus-square"
                                    [styles]="{ stroke: 'gray', color: 'gray' }">
                                </fa-icon>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ticket of item.tickets; index as i">
                            <td style="width: 15%;" scope="row">{{i + 1}}</td>
                            <td style="width: 25%;">
                                {{ticket.code?.display}}
                            </td>
                            <td style="width: 55%;">{{ticket.description}}</td>
                            <td *ngIf='ticket.hasImages' (click)="editTicket(item, ticket)"
                                style="width: 15%;cursor: pointer;">
                                <fa-icon class="nav-item" icon="paperclip" [styles]="{ stroke: 'gray', color: 'gray' }">
                                </fa-icon>
                                Imagini atasate
                            </td>
                            <td *ngIf='!ticket.hasImages' (click)="editTicket(item, ticket)"
                                style="width: 15%;cursor: pointer;">
                                <fa-icon class="nav-item" icon="edit" [styles]="{ stroke: 'gray', color: 'gray' }">
                                </fa-icon>
                                Edit
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width: 15%;">
                {{item?.dataKey}}
            </td>
        </tr>
    </tbody>
</table>

<ng-template #reclamatie let-complaint let-data="data" let-done="done">
    <app-reclamatie [item]="data.ticket" #rec>
    </app-reclamatie>
    <div class="form-group">
        <button (click)="save(rec.get(), complaint,done)" class="btn btn-primary">Salveaza</button>
    </div>
</ng-template>