<table class="table table-striped table-hover" style="width: 100v;">
    <thead>
        <tr>
            <th style="width: 10%;">#</th>
            <th scope="col">
                <div class="d-flex justify-content-center">
                    <pagination-controls id="foo" (pageChange)="page = $event" (pageBoundsCorrection)="page = $event"
                        maxSize="9" directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous"
                        currentLabel="page" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                </div>
            </th>
            <th style="width: 10%;">Data</th>
            <th style="width: 10%;" *ngIf="isAdmin">Client</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of complaints | paginate: { id: 'foo',
                                                      itemsPerPage: paging.pageSize,
                                                      currentPage: page,
                                                      totalItems: paging.collectionSize }; index as i">
            <td style="width: 10%;">{{item.status ?? 'x'}} - {{item.nrComanda ?? 'x'}}</td>
            <td>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 60%;">Detalii</th>
                            <th scope="col" style="width: 15%;" class="icon-stack">
                                <fa-icon (click)="delete(item)" icon="trash-alt"
                                    [styles]="{ stroke: 'black', color: 'black' }" size="1x"></fa-icon>
                                <fa-icon *ngIf="isAdmin && item.status != 'ACCEPTED'"
                                    (click)="updateStatusAccepted(item)" icon="calendar-check"
                                    [styles]="{ stroke: 'green', color: 'green' }" size="1x">
                                </fa-icon>
                                <fa-icon *ngIf="isAdmin && item.status != 'REJECTED'"
                                    (click)="updateStatusRejected(item)" icon="calendar-minus"
                                    [styles]="{ stroke: 'red', color: 'red' }" size="1x">
                                </fa-icon>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ticket of item.tickets; index as i">
                            <td style="width: 60%;">
                                <div style="max-height: 45vh;" [innerHTML]="ticket.description | safe: 'html'"></div>
                            </td>
                            <td (click)="editTicket(item, ticket)" style="width: 15%;cursor: pointer;">
                                <fa-icon *ngIf="ticket.hasAttachments" class="nav-item" icon="paperclip"
                                    style="margin-right:5px" [styles]="{ stroke: 'gray', color: 'gray' }">
                                </fa-icon>
                                <fa-icon class="nav-item" icon="edit" [styles]="{ stroke: 'gray', color: 'gray' }">
                                </fa-icon>
                                Edit
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>

            <td style="width: 15%;">
                {{item?.created | date: 'MMM d, Y, h:mm a'}}
            </td>
            <td style="width: 15%;" *ngIf="isAdmin">{{item?.dataKey ?? 'admin'}}</td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <pagination-controls id="foo" (pageChange)="page = $event" (pageBoundsCorrection)="page = $event" maxSize="9"
        directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous" currentLabel="page"
        nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</div>