/* You can add global styles to this file, and also import other style files */
@import '/variables.less';
@import "~@angular/cdk/overlay-prebuilt.css";
@import '~ngx-toastr/toastr';

html {
    background-color: @ground-color;
}

ul {
    padding-inline-start: 0;
}

fa-icon {
    cursor: pointer;
}

body {
    overflow: hidden;
}

div.form-group {
    display       : flex;
    flex-direction: column;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open>.dropdown-toggle.btn-primary {
    background-color: #00b3db;
    border-color    : #285e8e;
    /*set the color you want here*/
}