<ngb-carousel *ngIf="imageObject" id="carouselExampleIndicators">
    <ng-template *ngFor="let item of imageObject; index as i" ngbSlide>

        <div class="picsum-img-wrapper">
            <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
                <img [src]="item.image" alt="Random first slide">
            </a>
        </div>

        <div class="carousel-indicators"></div>
        <div class="carousel-caption">
            <h3>{{item.title}}</h3>
        </div>
    </ng-template>
    <ol class="carousel-indicators">
        <li *ngFor="let item of imageObject; index as i" data-target="#carouselExampleIndicators"
            attr.data-slide-to="{{i}}">
        </li>
    </ol>
</ngb-carousel>