<fa-icon icon="user" [styles]="{ stroke: 'black', color: 'black' }" size="2x" [spin]="false"
  (click)="userMenu.openFromTarget($event.target)">
</fa-icon>
<app-overlaymenu [template]="template" [overridePosition]="pos" #userMenu>
  <ng-template #template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="user-menu navbar-nav mr-auto">
        <span class="navbar-text" [cdkCopyToClipboard]="user">
          {{user}}
        </span>
        <button class="btn nav-item btn-info btn-sm bg-light" routerLink="/user">Go to profile</button>
        <button class="btn nav-item btn-info btn-sm bg-light" routerLink="/login">Logout</button>
      </ul>
    </nav>
  </ng-template>
</app-overlaymenu>